@page "/BlogPost/{id}"
@model BlogPostModel
@{
    ViewData["Title"] = Model?.ContentItem?.DisplayText;
}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">BlogPost</li>
  </ol>
</nav>
<div class="card">
    <div class="card-header">
        <h4>@Model?.ContentItem?.DisplayText</h4>
    </div>
    <div class="card-body">
        <p>@Model?.ContentItem?.Content?.MarkdownBodyPart?.Markdown</p>
    </div>
    <div class="card-footer">
        <p>@Model?.ContentItem?.Author</p>
    </div>
</div>
