@page
@using System.Text.Json;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img style="width:15%" src="/media/@Model?.Data?.Home?.Image?.Paths?[0].ToString()" />
</div>

<div class="row my-3">
    <div class="col-6 col-md-3">
        <div class="card">
            <div class="card-header text-center">
                <h5>Customers</h5>
            </div>
            <div class="card-body text-center">
                <h4>+@((int?)Model?.Data?.Home?.Customers?.Value)</h4>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3">
        <div class="card">
            <div class="card-header text-center">
                <h5>Users</h5>
            </div>
            <div class="card-body text-center">
                <h4>+@((int?)Model?.Data?.Home?.Users?.Value)</h4>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3">
        <div class="card">
            <div class="card-header text-center">
                <h5>Modules</h5>
            </div>
            <div class="card-body text-center">
                <h4>@((int?)Model?.Data?.Home?.Modules?.Value)</h4>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-3">
        <div class="card">
            <div class="card-header text-center">
                <h5>Features</h5>
            </div>
            <div class="card-body text-center">
                <h4>+@((int?)Model?.Data?.Home?.Features?.Value)</h4>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col m-auto">
        <h3>@Model?.Data?.TitlePart?.Title</h3>
        <p style="text-align:justify;">@Model?.Data?.MarkdownBodyPart?.Markdown</p>
    </div>
</div>
<div class="row my-3">
    @foreach (var (item, index) in Model.Products.OrderBy(c => c?.CreatedUtc).Select((value, i) => (value, i + 1)))
    {
        <div class="container">
            <div class="row m-3">
                @if (index % 2 == 0)
                {
                    <div class="col-12 col-lg-6 text-center my-auto">
                        <img class="w-100" src="/media/@item?.Content?.Products?.Image?.Paths?[0].ToString()" />
                    </div>
                }
                <div class="col m-auto">
                    <h1>@item?.Content?.TitlePart?.Title</h1>
                    <h4>@item?.Content?.Products?.Type?.Text?.ToString()</h4>
                    <p>@item?.Content?.MarkdownBodyPart?.Markdown</p>
                    <a class="btn btn-outline-primary" role="button" href="/Product/@item?.ContentItemId">Read More</a>
                </div>
                @if (index % 2 != 0)
                {
                    <div class="col-12 col-lg-6 text-center my-auto">
                        <img class="w-100 p-3" src="/media/@item?.Content?.Products?.Image?.Paths?[0].ToString()" />
                    </div>
                }
            </div>
        </div>
    }
</div>

