@page "/News"
@model OrchardHeadlessCMS.Pages.NewsModel
@{
    ViewData["Title"] = Model?.ContentTypeDefinition?.DisplayName;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model?.ContentTypeDefinition?.DisplayName</li>
    </ol>
</nav>
@if (Model?.Data != null)
{
    <h2>@Model?.ContentTypeDefinition?.DisplayName</h2>
    foreach (var item in Model.Data)
    {
        <div class="card shadow my-3" style="border-radius:25px">
            <div class="row m-2">
                <div class="col-12 col-lg-2 text-center my-auto p-3">
                    <img class="w-100" src="/media/@item?.Content?.NewsAndEvents?.Image?.Paths?[0].ToString()"/>
                </div>
                <div class="col">
                    <h5>@item?.Content?.NewsAndEvents?.Date?.Value</h5>
                    <h4>@item?.Content?.TitlePart?.Title</h4>
                    <p>@item?.Content?.MarkdownBodyPart?.Markdown?.Substring(0,200) ...</p>
                    <a class="btn btn-outline-primary" role="button" href="/News/@item?.ContentItemId">Read More</a>
                </div>
            </div>
            <div class="card-footer" style="border-radius:0 0 25px 25px">
                <h6>@item?.Author</h6>
            </div>
        </div>
    }
}
else
{
    <h3>No news or events</h3>
}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
