@page "/ContentItem/{Id}"
@using BlogUI.Model;
@using BlogUI.Services;
@inject GraphQLService service
<PageTitle>Index</PageTitle>
<h3>ContentItem</h3>

<div class="card">
    <div class="card-header">
        <h4>@result1?.data?.contentItem?.contentType</h4>
    </div>
    <div class="card-body">
        <p>@result1?.data?.contentItem?.displayText</p>
    </div>
    <div class="card-footer">
        <p>@result1?.data?.contentItem?.author</p>
    </div>
</div>
@code {
    [Parameter]
    public string Id { get; set; }
    Query? result1 = new();
    protected override async Task OnInitializedAsync()
    {
        result1 = await service.GetSingle(null);
        //result2 = await service.GetAll();
    }
}
