@page "/"
@inject IGraphQLService service
@inject NavigationManager navigation
<PageTitle>Index</PageTitle>

<h1>Blog Posts</h1>
<div class="row">
    @foreach (var item in service.BlogPosts)
    {
        <div class="col-4">
            <div class="card">
                <div class="card-header" @onclick="()=> GoToContentItem(item.contentItemId)">
                    <h4>@item.displayText</h4>
                </div>
                <div class="card-body">
                    <p>@item.markdownBody?.markdown</p>
                </div>
                <div class="card-footer">
                    <p>@item.author</p>
                </div>
            </div>
        </div>
    }
</div>
@code {
    protected override async Task OnInitializedAsync() => await service.GetAll();

    private void GoToContentItem(string? Id) => navigation.NavigateTo($"/ContentItem/{Id}");
}
